.formSubcontainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 100%;
  gap: 30px 60px;
  padding-bottom: 50px;
}

.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.formContainer input,
.formContainer textarea,
.formContainer select {
  padding: 14px 16px;
  border: 1px solid #05164d;
  border-radius: 8px;
  font-size: 16px;
  width: 80%;
  margin-bottom: 5px;
}

#pacePoints, #shootingPoints, #passingPoints, #dribblingPoints, #defencePoints, #physicalPoints {
  width: 50%
}

.formContainer button {
  padding: 14px;
  border: none;
  border-radius: 8px;
  background-color: #05164d;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  width: 50%
}

.imageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  text-align: center;
}

.templateImage {
  width: 600px;
  height: 600px;
  object-fit: cover;
}