<!-- Logo -->
<a href="/index_en.html"
  ><img
    class="mainimg"
    src="/images/Logo horizontal branco.png"
    alt="LGSP Intercontinental Youth Cup Logo"
/></a>

<!-- Main Navigation -->
<ul id="main-nav-list">
  <li>
    <a id="subMenu1">Tournament</a>
    <ul id="subMenu2">
      <li><a href="/pages/info_en.html">What is LGSPIYC</a></li>
      <li>
        <a id="subMenu3">Organization</a>
        <ul id="subMenu4">
          <li><a href="/pages/lgspsports_en.html">LGSP Sports</a></li>
          <li><a href="/pages/ift_en.html">IFT</a></li>
        </ul>
      </li>
      <li><a href="/pages/form_en.html">How to Participate</a></li>
    </ul>
  </li>

  <!-- Tab dos servicos -->
  <li>
    <a id="subMenu11">Services</a>
    <ul id="subMenu12">
      <li><a href="/pages/corporateleague_en.html">Corporate League</a></li>
      <li>
        <a href="https://lcc-lgspsportsandevents.com/" target="_blank"
          >Book Your Trip With Us</a
        >
      </li>
    </ul>
  </li>

  <li>
    <a id="subMenu7">Games</a>
    <ul id="subMenu8">
      <li><a href="/pages/jogos_en.html">Competitive Table</a></li>
      <li><a href="/pages/classif_en.html">Classification</a></li>
    </ul>
  </li>
  <li>
    <a id="subMenu9">Multimedia</a>
    <ul id="subMenu10">
      <li><a href="/pages/videos_en.html">Videos</a></li>
    </ul>
  </li>
  <li><a href="/pages/contactos_en.html">Contacts</a></li>
</ul>

<!-- Corporate league -->

<a href="https://lgspportocorporateleague.com/Index.html"
  ><img
    class="corporateleague"
    src="/images/corporateleague.png"
    alt="Corporate League Logo"
/></a>

<!-- Language Selector -->
<div class="lang-selector">
  <button class="lang-btn">EN ▾</button>
  <div class="lang-dropdown">
    <a href="/index.html">PT</a>
    <a href="/index_en.html">EN</a>
  </div>
</div>

<!-- Hamburger Menu -->
<div class="hamburger-menu" id="hamburger-menu">
  <span class="bar"></span>
  <span class="bar"></span>
  <span class="bar"></span>
</div>
